@use "/styles/constants/colors";

.picture {
  .wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 5px;
    overflow: hidden;
  }

  .title {
    font-size: 1.2rem;
    font-weight: normal;
  }

  .caption {
    color: colors.$color-primary;
  }
}
