@use "/styles/constants/colors";
@use "/styles/mixins/mediaQuery";
@use "/styles/constants/animations";

.profileForm {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    font-size: 1.1rem;
  }

  input,
  textarea {
    border: 1px solid colors.$color-muted;
    color: colors.$color-muted;
    font-style: inherit;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.groupTitle {
  color: colors.$color-secondary;
  font-weight: lighter;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.errorMessage {
  color: #e53e3e;
}

.submit {
  height: 35px;
}

.notification {
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.error {
  background-color: lighten(colors.$color-error, 40%);
  color: colors.$color-error;
}

.success {
  background-color: #d4eddc;
  color: colors.$color-success;
}

.dismissButton {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  color: inherit;
  margin-left: auto;
  cursor: pointer;
  transition: opacity 0.1s ease;
}

.blink {
  opacity: 0;
  display: inline-block;
  animation: blink 1s linear 0s infinite;
}

.delay1 {
  animation-delay: 0.1s;
}
.delay2 {
  animation-delay: 0.2s;

}

@include mediaQuery.screen("md") {
  .profileForm {
    max-width: 85%;
  }

  .submit {
    align-self: flex-start;
    padding: 0 15px;
  }
}

@include mediaQuery.screen("lg") {
  .profileForm {
    max-width: 75%;
  }
}

@include mediaQuery.screen("xl") {
  .profileForm {
    max-width: 65%;
  }
}

@include mediaQuery.screen("xxl") {
  .profileForm {
    max-width: 55%;
  }
}

@media (hover: hover) {
  .notification:hover .dismissButton {
    opacity: 100;
  }

  .dismissButton {
    opacity: 0;
  }
}
