@use "/styles/constants/colors";
@use "/styles/mixins/mediaQuery";
@use "/styles/constants/animations";

.main {
  margin-top: 15px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
}

.profilePicWrapper {
  width: 100%;
}

.profileForm {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  label {
    font-size: 1.1rem;
  }

  input,
  textarea {
    border: 1px solid colors.$color-muted;
    color: colors.$color-muted;
    font-style: inherit;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.groupTitle {
  color: colors.$color-secondary;
  font-weight: lighter;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.pseudoLabel {
  font-size: 1.1rem;
  color: colors.$color-text-lighter;
}

.tagContainer {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 5px;
  align-items: center;

  .pendingTag {
    background-color: darken(colors.$color-primary, 15);
    font-size: 0.95rem;
    i {
      font-size: 0.75rem;
      transform: translateY(-1px);
    }
  }

  .suggestTagInput {
    width: 100px;
    height: 20px;
    border: none;
    display: inline;
    margin: 0;
    margin-left: 5px;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

.suggestionSpinner {
  color: colors.$color-primary;
}

.suggestTagButton {
  color: colors.$color-secondary;

  &:hover {
    text-decoration: underline;
  }
}

.errorMessage {
  color: #e53e3e;
}

.submit {
  height: 35px;
}

.notification {
  border-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 8px;

  &.tagSuggestionNotification {
    margin-top: 15px;
  }
}

.error {
  background-color: lighten(colors.$color-error, 40%);
  color: colors.$color-error;
}

.success {
  background-color: #d4eddc;
  color: colors.$color-success;
}

.dismissButton {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  color: inherit;
  margin-left: auto;
  cursor: pointer;
  transition: opacity 0.1s ease;
}

.blink {
  opacity: 0;
  display: inline-block;
  animation: blink 1s linear 0s infinite;
}

.delay1 {
  animation-delay: 0.1s;
}
.delay2 {
  animation-delay: 0.2s;
}

@include mediaQuery.screen("md") {
  .formWrapper {
    max-width: 85%;
  }

  .submit {
    align-self: flex-start;
    padding: 0 15px;
  }
}

@include mediaQuery.screen("lg") {
  .formWrapper {
    max-width: 75%;
  }
}

@include mediaQuery.screen("xl") {
  .formWrapper {
    max-width: 65%;
  }
}

@include mediaQuery.screen("xxl") {
  .formWrapper {
    max-width: 55%;
  }
}

@media (hover: hover) {
  .notification:hover .dismissButton {
    opacity: 100;
  }

  .dismissButton {
    opacity: 0;
  }
}
