@use "/styles/constants/colors";
@use "/styles/mixins/button";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  overflow-y: overlay;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

figure,
p,
h2 {
  margin: 0;
}

input,
textarea {
  font-family: inherit;
}

label,
input,
textarea {
  width: 100%;
  display: block;
}

input,
textarea {
  border-radius: 4px;
  margin-top: 5px;
  border: none;
  padding: 5px 8px;
  font-size: 1rem;
}

textarea {
  resize: none;
}

label {
  color: colors.$color-text-lighter;
  font-size: 1.2rem;
}

input {
  height: 35px;
}

.app {
  max-width: 1400px;
  margin: auto;
  padding: 0 25px;
}

.header {
  margin-top: 40px;
}

.hidden {
  display: none !important;
}

.no-scroll {
  overflow-y: hidden;
}

.button-primary {
  @include button.button(colors.$color-primary, white);
}
